# Ambiente virtuale Python
venv/
env/
.venv/
.envrc
*/ambientevirtuale*/
ambientevirtualeRosetta/
*.pyc
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

# File di sistema
.DS_Store
Thumbs.db
